p {color:firebrick; font-size: 20px;font-family: Georgia; text-align: center;}

body {background-color: white;}

a {color:black}

h2{color:firebrick;font-size:25px;font-family:Courier;text-align:center;}

h1 {color: firebrick; font-size: 35px;font-family: Courier; text-align: center;}

h3 {color: firebrick; font-size: 20px;font-family: Tahoma; text-align:center;}

